<section id="contact" class="contact-section">
    <div class="container">
        <h2>Get In Touch</h2>
        <p>Have a project in mind? Let's talk!</p>
        <form class="contact-form" (submit)="onSubmit($event)">
          <input type="text" name="name" placeholder="Name" required>
          <input type="email" name="email" placeholder="Email" required>
          <textarea name="message" placeholder="Your Message" required rows="5"></textarea>
          <button type="submit" class="btn primary-btn">Send Message</button>
        </form>

        <div class="social-links">
            <a href="https://github.com/modernc1" target="_blank"><i class="bi bi-github"></i></a>
            <a href="https://www.linkedin.com/in/mohamed-aymen-172149287" target="_blank"><i class="bi bi-linkedin"></i></a>
            <a href="mailto:mo.hussien.it@gmail.com" target="_blank"><i class="bi bi-envelope-fill"></i></a>
        </div>
    </div>
</section>
