.header-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 20px;

}

.open-btn{
  padding: 10px 20px;
  border: 1px solid;
  border-radius: 16px;

}

.content-section .image {
  width: 100%;
  min-width: 200px;
  max-width: 500px;
  height: 400px;
  max-height: 400px;
  min-height: 200px;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

