<div class="project-header">
  <div class="header-container">
    <h1>{{ project?.title }}</h1>
    <div class="header-actions">
      <a href="https://g-store.runasp.net" target="_blank" class="btn primary-btn">
        <i class="bi bi-box-arrow-up-right"></i> View Demo
      </a>
    </div>
  </div>

  <app-project-gallery [images]="project?.gallery || []"></app-project-gallery>
</div>

<div class="project-content">
  <app-details-section title="Enterprise Retail Solution"
  description="
  <strong>Frontend:</strong> Angular, CSS Animations, Responsive Design<br>
  <strong>Backend:</strong> ASP.NET Core MVC, Payment API Integration<br>
  <strong>Database:</strong> SQL Server, Entity Framework Core<br>
  <strong>Security:</strong> JWT, HttpOnly Cookies, Role-Based Access Control"></app-details-section>

  <app-details-section title="Dynamic Management" description="A powerful categories system and order tracking implementation allow for seamless management of products and shipments."></app-details-section>
</div>


