<div class="header-container">
  <h1 style="font-size: 36px;">Responsive-Electronics-E-Commerce-Web-Application</h1>
  <!-- <a href="" target="_blank" class="open-btn secondary-btn">View Demo</a> -->
</div>
<app-details-section title="Built with ASP.NET Core (Clean Architecture + MediatR) & Angular."
description="
Frontend: HTML5, CSS3, javascript, CSS Animations, Responsive Design<br>
Backend: ASP.NET Core MVC, Payment API integration<br>
Database: SQL Server, Entity Framework Core, Migrations<br>
Authentication & Security: JWT, HttpOnly Cookies, Role-Based Authorization<br>
Others:Clean logical site structure, SEO-Friendly URLs, Optimized Images"
image="/assets/img/e-store/e-storemain-image.png" [reverse]="true" [longImage]="false"></app-details-section>

<app-details-section title="Responsive modern product details" description=""
image="/assets/img/e-store/product-details.png" [reverse]="false" [longImage]="false"></app-details-section>

<app-details-section title="Dynamic categories system" description=""
image="/assets/img/e-store/categories-list.png" [reverse]="true" [longImage]="false"></app-details-section>

<app-details-section title="Track all Orders status and payment details" description=""
image="/assets/img/e-store/order-details.png" [reverse]="false" [longImage]="false"></app-details-section>

<app-details-section title="Responsive cart system" description=""
image="/assets/img/e-store/cart.png" [reverse]="true" [longImage]="false"></app-details-section>

<app-details-section title="Track shipment implementation system" description=""
image="/assets/img/e-store/receipt.png" [reverse]="false" [longImage]="false"></app-details-section>

<app-details-section title="Role based authentication (admin, users, and companies)"
description="Allowing companies to have option to payment later"
image="/assets/img/e-store/users-list.png" [reverse]="true" [longImage]="false"></app-details-section>


