.header-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 20px;

}

.open-btn{
  padding: 10px 20px;
  border: 1px solid;
  border-radius: 16px;
  
}
