<div class="header-container">
  <h1 style="font-size: 36px;">Responsive Real Estate Web Application</h1>
  <!-- <a href="" target="_blank" class="open-btn secondary-btn">View Demo</a> -->
</div>
<app-details-section title="Built with ASP.NET Core (Clean Architecture + MediatR) & Angular."
description="
Frontend: Angular 19, TypeScript, CSS Animations, Responsive Design<br>
Backend: ASP.NET Core (Clean Architecture, MediatR), RESTful APIs<br>
Database: SQL Server, Entity Framework Core, Migrations<br>
Authentication & Security: JWT, HttpOnly Cookies, Role-Based Authorization<br>
Other: Admin Dashboard, CMS Management<br>"
image="assets/img/real-estate/real-estate-main-img.jpeg" [reverse]="false"></app-details-section>

<app-details-section title="Role-based authentication for admin and employees" description="using JWT (JSON Web Tokens) with HttpOnly cookies for secure, stateless authentication."
image="assets/img/real-estate/auth.jpeg" [reverse]="true"></app-details-section>
<app-details-section title="Employees Management System" description=""
image="assets/img/real-estate/admin-employee-management.jpeg" [reverse]="false"></app-details-section>

<app-details-section title="Client Requests System" description="A system that allows potential buyers or renters to submit requests for properties directly through the website, which then assigned to employee to be handled"
image="assets/img/real-estate/clients-request.jpeg" [reverse]="true"></app-details-section>

<app-details-section title="Properties Management System" description="Adding, deleteing & updating properties"
image="assets/img/real-estate/admin-listing.jpeg" [reverse]="false"></app-details-section>

<app-details-section title="Property listings with details & images" description=""
image="assets/img/real-estate/admin-add-property.jpeg" [reverse]="true"></app-details-section>


<app-details-section title="Advanced search & filtering." description=""
image="assets/img/real-estate/properties_listing.jpeg" [reverse]="false"></app-details-section>

<app-details-section title="Management system for company previous projects" description=""
image="assets/img/real-estate/admin-previousWork.jpeg" [reverse]="true"></app-details-section>



