<div class="project-header">
  <div class="header-container">
    <h1>{{ project?.title }}</h1>
  </div>

  <app-project-gallery [images]="project?.gallery || []"></app-project-gallery>
</div>

<div class="project-content">
  <app-details-section title="Modern Stack Powerhouse"
  description="
  <strong>Frontend:</strong> Angular 19, TypeScript, CSS Animations, Responsive Design<br>
  <strong>Backend:</strong> ASP.NET Core (Clean Architecture, MediatR), RESTful APIs<br>
  <strong>Database:</strong> SQL Server, Entity Framework Core, Migrations<br>
  <strong>Security:</strong> JWT, HttpOnly Cookies, Role-Based Authorization<br>
  <strong>Features:</strong> Admin Dashboard, CMS Management"></app-details-section>

  <app-details-section title="Secure Role-Based Auth" description="Integrated JWT (JSON Web Tokens) with HttpOnly cookies for secure, stateless authentication, ensuring cross-site security and smooth session management."></app-details-section>

  <app-details-section title="Complete User & Admin Control" description="A comprehensive management system allowing admins to manage employees, property listings, and client interactions with a streamlined interface."></app-details-section>
</div>



