<div class="project-header">
  <div class="header-container">
    <h1>{{ project?.title }}</h1>
  </div>

  <app-project-gallery [images]="project?.gallery || []"></app-project-gallery>
</div>

<div class="project-content">
  <app-details-section title="Modern Medical News Hub"
  description="
  <strong>Frontend:</strong> Angular 19, TypeScript, CSS Animations, Responsive Design<br>
  <strong>Backend:</strong> ASP.NET Core (Clean Architecture, MediatR), RESTful APIs<br>
  <strong>Features:</strong> Content Management with ngx-Markdown, Role-Based Auth"></app-details-section>

  <app-details-section title="CMS & Markdown Support" description="integrated with ngx-Markdown to decorate text and add images to content, allowing authors to create rich, readable medical articles."></app-details-section>
</div>
