<div class="header-container">
  <h1 style="font-size: 36px;">Responsive E-Commerce Shoes Web Application</h1>
  <a href="https://modernc1.github.io/E-Commerce.G-Store/home" target="_blank" class="open-btn secondary-btn">View Demo</a>
</div>

<app-details-section title="Built with ASP.NET Core (Clean Architecture + MediatR) & Angular."
description="
Frontend: Angular 19, TypeScript, Standalone Components, Reactive Forms, Responsive Design<br>
Backend: ASP.NET Core Web API, Clean Architecture, Entity Framework Core<br>
Database: SQL Server, Code-First Migrations<br>
Features: Product Catalog (Shoes), Variations (Sizes & Quantities), Shopping Cart, Search & Filters<br>
Payments: Payment Gateway Integrations for secure online checkout<br>
Other: REST APIs Integration, Reusable Components, Modern UI/UX" image="assets/img/shoes-store/shoes-store-main-img.jpeg" [reverse]="false"></app-details-section>

<app-details-section title="Advanced filtering and search system (by category, price range, size, etc.)" description=""
image="assets/img/shoes-store/products-page.jpeg" [reverse]="true"></app-details-section>

<app-details-section title="Dynamic Reactive Forms to add multiple variations for products" description=""
image="assets/img/shoes-store/reactive-forms.jpeg" [reverse]="false"></app-details-section>

<app-details-section title="Responsive Cart checkout system." description=""
image="assets/img/shoes-store/cart.jpeg" [reverse]="true"></app-details-section>

<app-details-section title="Payment gateway integration (Tap payments)" description=""
image="assets/img/shoes-store/tap-payment-integration.jpeg" [reverse]="false"></app-details-section>

<app-details-section title="Admin panel for managing Products & Categories" description=""
image="assets/img/shoes-store/content-management.jpeg" [reverse]="true"></app-details-section>

